/* Animation Basics */
body {
	background-color: #D8E8FA;
}

.wrapper {
	margin: 2em auto 2em auto;
	width:350px;
	position:relative;
}

.blue_robot {
	transform: translate(100px,50px) skew(20deg) scale(2) rotate(45deg);

	/* 

	    transale() is use to move the element.
        skew() is used to bend the element
        scale() is used to increase the size of the element.
        rotate() is used to rotate the element.


	*/
}



